fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
pydantic[email]
python-dotenv
supabase
stegano
pycryptodome
Pillow
requests
passlib[bcrypt]
python-socketio[asgi]
bidict
psycopg2-binary
jwt
opencv-python-headless
numpy
flask-cors
